* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #a1c4fd;
    background: -webkit-linear-gradient(to right, #c2e9fb, #a1c4fd);
    background: linear-gradient(to right, #c2e9fb, #a1c4fd);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    padding: 20px;
}

.calculator-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
    max-width: 100%;
    width: 100%;
    max-width: 450px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.calculator-container:hover {
    transform: scale(1.03);
}

h1 {
    font-size: 24px;
    color: #555;
    margin-bottom: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
}

h1::after {
    content: '';
    width: 60px;
    height: 2px;
    background-color: #badc58;
    display: block;
    margin: 10px auto;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}
label {
    font-size: 16px;
    margin: 10px;
display: flex;

    color: #333;
}

input {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #badc58;
    outline: none;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: #badc58;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

button:hover {
    background-color: #a9cc4a;
}

.result {
    margin-top: 25px;
    padding: 20px;
    background-color: #e0f7fa;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: 600;
    color: #37474f;
    letter-spacing: 1.2px;
    line-height: 1.6;
    text-align: left;
    line-height: 1.8;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.result .age-value {
    display: block;
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    color: #f8058b8e;
    margin-bottom: 5px;
    text-align:center;
}

.result .age-label {
    font-size: 22px;
    font-weight: 700;
    color: #075ca17d;
    margin-bottom: 5px;
}





.error-message {
    color: #ff6b6b;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
}

@media (min-width: 768px) {
    .calculator-container {
        width: 450px;
    }
}

@media (max-width: 500px) {
    .calculator-container {
        padding: 20px;
        width: 100%;
    }

    h1 {
        font-size: 20px;
    }

    button {
        font-size: 16px;
        padding: 10px;
    }

    input {
        font-size: 14px;
        padding: 10px 12px;
    }
}
